body {
    font-family: 'Courier New';
    font-size: 12pt;
    background-color: #f0f8ff;    
    padding: 30px;
    margin: 30px;
    margin-left: 15%;
    margin-right: 15%;
}

html {
    background-image: url("../background.jpg");    
}


.name {
    font-size: 30pt;
    font-family: 'Arial', sans-serif;
    text-decoration: underline;
    box-shadow: 3px 3px 3px #6f7478;
    background-image: linear-gradient(rgb(184, 221, 254),rgb(129, 155, 178));
    padding: 15px;
}

h1, h2 {
    margin-top: 30px;
    margin-bottom: 10px;
}

img {    
    float: right;
    width: 20em;
    height: 20em;
    object-fit: cover;
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 10px;
    background-color: rgb(148, 177, 203);
    border: 2px solid rgb(104, 121, 137);
    border-radius: 10px;
    
}
@media screen and (max-width: 700px) {
    img {
        float: none;
        margin-left: 0;
    }
}

p {
    text-indent: 30px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table {          
    width: 100%;      
    border-spacing: 0;        
    border-collapse: collapse;
    table-layout: fixed;        
}
td, th {
    padding: 3px;
    width: 16.66%;
}


.work {
    background-color: rgb(164, 197, 226);
    border: 2px solid rgb(143, 172, 197);    
    color: white;
}

.cs3320 {
    background-color:  rgb(117, 171, 218);
    border: 2px solid rgb(101, 149, 191);
    color: white;
}

.cs3520 {
    background-color: rgb(91, 157, 214);
    border: 2px solid rgb(82, 140, 192);    
    color: white;
}

.cs2550 {
    background-color: rgb(65, 146, 216);
    border: 2px solid rgb(56, 126, 188);    
    color: white;
}

.cs3100 {
    background-color: rgb(29, 125, 208);
    border: 2px solid rgb(24, 104, 173);  
    color: white;    
}

.calc {
    background-color: rgb(0, 98, 184);
    border: 2px solid rgb(0, 81, 151);    
    color: white;
}

.poem {
    text-indent: 0px;
}
